<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="bkgrndk" >
	<div class="jumbotron" style="text-align:center;padding:8em;">

			<h1> <img src="http://www.olivers-supersandwiches.com/images/products/b6.png" style="width:3em;">Nutrition <img src="http://67.media.tumblr.com/9841788e90dd8f26c6e837630901e69d/tumblr_nui9lb6QI81tklspfo1_540.png" style="width:3em;"> </h1>
			<p> Nutrition is very important for everyone, but professional athletes need to take special care of their body in terms of food intake. Nutritionists help these athletes and give them advice on how to safely meet their daily caloric goals. In this interactive game below, pretend you're an NFL player with a 1500 calorie goal for a meal and choose your foods carefully!
</p>

			<br></br>
			<p>
				<a href="/animation_bodysystems/index.html" style="font-size:22;">Click here to play the interactive game about nutrition!</a>
			</p>
				<!-- <h4>Pretend you're an athlete with a 1500 calorie goal for one meal and collect the best types of food to reach that goal!</h4> -->
		</div>
	</div>
</div>