<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<body>
	<div class="jumbotron">
		<div id="wrap">
			<h2>
				Welcome to the VCF Learning<br>
				<small class="text-muted"> sponsored by the Victor Cruz Foundation</small></h2>
		</div>
		<a class="btn btn-primary btn-lg"  href="/register" > Register</a>
		<br></br>
		<a class="btn btn-primary btn-lg" href = "/login"> Login </a>
	</div>
</body>