<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="bkgrndk" >
	<div class="container">
		<div class="col-md-12"id="lessonT">
			<body>
	<p>
	<h3> Kinesiology</h3>
	Members will use science principles to create a replica of a simple machine in the
human body, analyze the simple machines utilized in a touchdown celebration, and
design a conditioning plan to protect and strengthen the most used simple machines by
NFL players.



	</p>

		<a href="/kinesiology/index.html">interactive animation </a>
		</div>
	</div>
</div>