<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="bkgrndk" >
	<div class="jumbotron" style="text-align:center">
		
	<h1><img src="http://www.kttape.com/wp-content/uploads/2016/05/man.fw_-1.png" style="width:3em;"> Kinesiology<img src="http://1.bp.blogspot.com/-8Lbe4uw_0go/Vdc9HPw0DaI/AAAAAAAAA_E/j5pqKpSgvz8/s1600/Transparent-Runner.jpg"style="width:3.5em;"></h1>
	<p>
		Members will use science principles to create a replica of a simple machine in the human body, analyze the simple machines utilized in a touchdown celebration, and design a conditioning plan to protect and strengthen the most used simple machines by NFL players.	</p>


	<p><a href="/animation_kinesiology/index.html">Click here to view this interactive animation </a></p>
		</div>
	</div>
</div>