<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="bkgrndk" >
	<div class="container">
		<div class="col-md-12"id="lessonT">
			<body>
	<p>
	<h3> Newton laws of motions 2</h3>
	Law 2: The harder something is pushed the faster it goes.
	F=ma


	</p>

		<a href="/animation_newton_second2/index.html">interactive animation </a>
		<p>acceleration due to gravity is the same for all objects</p>
		</div>
	</div>
</div>