<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="bkgrndk" >
	<div class="jumbotron" style="text-align:center;padding-top:5em;">
	

	<h1> <img src="http://teachertech.rice.edu/Participants/louviere/Newton/carandwall.gif"style="width:5em;">Newton's First Law <img src="http://www.physicsclassroom.com/mmedia/circmot/rht.gif"style="width:4em;height:1.8em;"></h1>
	<p>When an object is at rest, you must push it at a certain level of force in order to move it.	</p>

	<br></br>
	<p><a href="/animation_newton_first/index.html">Click here to see the interactive animation </a></p>
	<br></br>

	<form method="POST" action=''>
	<p>Please tell us a little about what you learned in this lesson to unlock the next lesson </p><input type="textarea" name= "description"> 
	<input type="submit" value="Submit">
		</div>

	
</div>