<form method="POST" action ="">
Please Fill Out the Following Information
Name <input type = 'text' name = "name">
Birthday <input type = "date" name = "birthday">
School <input type = "text" name = "school">
<input type="submit" value = "Create">
</form>

