<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="bkgrndk" >
	<div class="jumbotron" style="text-align:center;">


	<h1><img src="https://i.ytimg.com/vi/Zuqb5uExFn4/maxresdefault.jpg"style="width:3em;">Soundwaves<img src="https://thumb1.shutterstock.com/display_pic_with_logo/384598/467759168/stock-vector-man-with-soundwaves-vector-sketch-icon-isolated-on-background-hand-drawn-man-with-soundwaves-icon-467759168.jpg" style="width:2em;"></h1>
	<p>	Participants will increase both their math and science skills by analyzing how sound waves produced by different items can be perceived at different distances, transmitted through solids, liquids, and gases, and measured using digital tools.</p>

	<br>
	<p><a href="/animation_soundwaves/index.html">Click here to view an interactive animation </a></p>
		</div>
	</div>
</div>