<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="bkgrndk" >
	<div class="container">
		<div class="col-md-12"id="lessonT">
			<body>
	<p>
	<h3>Soundwaves</h3>
	Participants will increase both their math and science skills by analyzing how sound
waves produced by different items can be perceived at different distances, transmitted
through solids, liquids, and gases, and measured using digital tools.



	</p>

		<a href="/animation_soundwaves/index.html">interactive animation </a>
		</div>
	</div>
</div>